# example of configuration file
parameters:
    adfs:
        sso:
            uri: /sso/auth
            returnParam: return
            idpParam: idp
        providers:
            -
                name: mocksamlurl
                metadata: 'https://mocksaml.com/api/saml/metadata'
                nameid_format: 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
            -
                name: mocksamlfile
                metadata: 'file:///metadata/mock-saml-metadata.xml'
                nameid_format: 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
