# example of configuration file
parameters:
    adfs:
        sso:
            uri: /sso/auth
            returnParam: return
            idpParam: idp
        providers:
            -
                name: samltest
                metadata: 'https://samltest.id/saml/idp'
                nameid_format: 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'
